---
layout: page 
---
<div class="home">

<script type="text/javascript" src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>

<div class="search">
    <div class="search-input-wrap">
    <input type="text" class="js-search-input search-input input-block form-control" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
    </div>
    <br>
    <div class="js-search-results search-results-wrap"></div>
</div>
<!-- Add notebook below -->
<div class="post-category-blocks">
    <h2>Help System</h2>
    <ul class="post-list">
        <li>
            <div class="Box box-shadow-medium rounded-1 col-12">
                <div class="col-8 d-table-cell p-3">
                    <!-- Add notebook links here -->
                    <h3><a href="/platformer4x/help-system/enemies-collision/lesson">Enemies Collision Notebook</a></h3>
                    <h3><a href="/platformer4x/local-storage/landing">Local Storage Notebooks</a></h3>
                    <h3><a href="/platformer4x/help-system/different-ending/lesson">Different Ending Notebook</a></h3>
                </div>
            </div>
        </li>
    </ul>
</div>

{%- include post_category_blocks.html -%}

</div>
